<section style="background: url('{{ section. settings.bg_image | img_url: 'master' }}')" class="position-relative bannerindex ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <img src="{{ section.settings.image |img_url: 'master' }}" class="img-fluid mt-5 pt-5">
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <img src="{{ section.settings.image_2 |img_url: 'master'  }}" class="img-fluid">
      </div>
    </div>
    {% comment %} <a href="{{ section .settings .button_link }}" class="btn btn-primary  bannerbtn">
    {{ section.settings.button_text }}
    <i class="fas fa-play"></i>
    </a> {% endcomment %}</div>
</section>

{% schema %}
  {
    "name": "Image Banner",
    "class": "image-banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "First Image"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Second Image"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link",
        "info": "Enter the URL for the button link."
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "info": "Enter the text for the button."
      }
    ],


    "presets": [
      {
        "name": "Image banner"
      }
    ]
  }
{% endschema %}