<section class="position-relative bannerindex">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <img src="{{ 'conish_txt.png' | asset_url  }}" class="img-fluid mt-5 pt-5">
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <img src="{{ 'gin_bottle.png' | asset_url  }}" class="img-fluid">
      </div>
    </div>
    <a href="#" class="btn btn-primary  bannerbtn">Watch video
      <i class="fas fa-play"></i>
    </a>
  </div>
</section>

<section class="index_second">
  <div class="container">
    <div class="d-flex justify-content-center position-relative index_second_flex">
      <img src="{{ 'proudi_heading1.png' | asset_url  }}" class="img-fluid indexheading">
      <!--       <h1 class="indexheading">Produipurveyors<span class="spanof">of</span><span>cornishispirit</span></h1> -->
      <img src="{{ 'imgsecond.png' | asset_url  }}">
      <div class="mt-300">
        <p>Just as a person’s character and memory is nurtured into being over time and through a particular
          positioning in place, Saint Sithney Distilling Co is inherently conducive of its roots in the wild and
                                                                                                                                                                                                                                                                                                                                          ancient landscape of Cornwall. Nestled away on our coastal farmstead, after months of experimentation, the
                                                                                                                                                                                                                                                                                                                                          character of our flagship Cornish dry gin, Saint Sithney, was formed. A premium artisanal gin, Saint Sithney
                                                                                                                                                                                                                                                                                                                                          truly captures the spirit of Cornwall with its bold, original flavour profile and refreshing zest.</p>
        <a href="#" class="btn buynow1">buy now</a>
      </div>
    </div>
  </div>
</section>

<section class="cocktail">
  <img src="{{ 'connectbg.png' | asset_url  }}" class="img-fluid">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center innerpagebannerbox">
      <div class="text-center">
        <h2 class="head my-5">CONNECT</h2>
        <p class="my-5">Follow us on social for the latest spirit releases, cocktails from mixologist and latest news.
        </p>
        <a href="#" class="btn btn-primary followbtn">FOLLOW US ON INSTAGRAM</a>
      </div>
    </div>
  </div>
</section>

<section class="saint_sithney">
  <div class="container-fluid">
    <img src="{{ 'saint_sithney_heading.png' | asset_url  }}" class="img-fluid headimg">
    <div class="d-flex justify-content-start saint_body">
      <div class="position-relative  saint_box">
        <img src="{{ 'saint1.png' | asset_url  }}" class="img-fluid img1">
        <div class="saint_sithney_inner">
          <img src="{{ 'cornishdrygin1.png' | asset_url  }}" class="img-fluid headimg">
          <!--           <h2 class="saintheading">
          CORNISH<br /> DRYGIN
          </h2> -->
          <p>Our flagship gin, distilled on our historic Cornish farmstead from Cornish-grown wheat, and infused with
            botanicals from all corners of the globe. From earthy juniper berries to zesty kaffir lime leaves, orange
                                                                                                                                                                                                                                                                                                                                                                                                            and lemon peel; neatly rounded off with subtly aromatic coriander and cardamom.</p>
          <a href="" class="btn buynow2">buy now</a>
        </div>
      </div>
      <div class="position-relative saint_box">
        <img src="{{ 'saint2.png' | asset_url  }}" class="img-fluid img2">
        <div class="saint_sithney_inner scncolor">
          <img src="{{ 'sevillegin1.png' | asset_url  }}" class="img-fluid headimg">
          <!--           <h2 class="saintheading">
          SEVILLI<br />GIN
          </h2> -->
          <p>A fruity and zesty flavour, balanced with the botanicals of our classic Cornish Dry Gin, our Seville Gin
            evokes the taste of the sun-soaked Mediterranean. Enjoy the delicious aroma of citrus fruits and orange
                                                                                                                                                                                                                                                                                                                                                                                                            zest, with warming notes of orange, vanilla, juniper and spices.</p>
          <a href="" class="btn buynow2">buy now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact_section pt-100 pb-100">
  <h1 class="where_heading1 d-block d-sm-none">Where to
    <span>Find Us</span>
  </h1>
  <div class="container">
    <div class="d-flex justify-content-start wherebox">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <img class="img-fluid" src="{{ 'whereimg.png' | asset_url  }}">
      </div>
      <div class="col-md-6  col-sm-12 col-xs-12">
        <h1 class="where_heading  d-none d-sm-block">Where to
          <span>Find Us</span>
        </h1>
        <p>There is something inherently entrepreneurial in the Cornish spirit, but always with an original flair and a vitality that reflects the energetic and wild landscape around us. Positioned on the South-East side of the Cornish peninsula between the historic towns of Helston and Breage, Sithney straggles the boundary between the Lizard peninsula with its marble-like serpentine cliffs, and the bold granite forms of Penwith to the South-West. This unique geography is reflected in the plethora of mines that pepper the landscape where our Saint Sithney distillery is based.</p>
      </div>
    </div>
  </div>
</section>

<section class="cocktailreceipe position-relative">
  <img src="{{ 'cocktailreceipe.png' | asset_url  }}" class="img-fluid cocktailtopimg">

  <div class="d-block d-sm-none">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="gin text-center">
                  <img src="{{ 'cornish.png' | asset_url  }}" class="img-fluid">
                  <h3>CORNISH COASTPATH MOJITO</h3>
                  <p class="mt-4">
                    <a href="allcocktail.html">Read More</a>
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="gin text-center">
                  <img src="{{ 'spanish.png' | asset_url  }}" class="img-fluid">
                  <h3>THE SPANISH-ITALIAN GIN & TONIC</h3>
                  <p class="mt-4">
                    <a href="allcocktail.html">Read More</a>
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="gin text-center">
                  <img src="{{ 'ginsling.png' | asset_url  }}" class="img-fluid">
                  <h3>GIN SLING</h3>
                  <p class="mt-4">
                    <a href="allcocktail.html">Read More</a>
                  </p>
                </div>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleIndicators"
              role="button"
              data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleIndicators"
              role="button"
              data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!--             <div class="d-flex justify-content-center">
          <a href="allproduct.html" class="btn buynow1">VIEW ALL RECIPES</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>


  <div class="container pt-100 d-none d-sm-block">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="gin text-center">
          <img src="{{ 'cornish.png' | asset_url  }}" class="img-fluid">
          <h3>CORNISH COASTPATH MOJITO</h3>
          <p class="mt-4">
            <a href="allcocktail.html">Read More</a>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="gin text-center">
          <img src="{{ 'spanish.png' | asset_url  }}" class="img-fluid">
          <h3>THE SPANISH-ITALIAN GIN & TONIC</h3>
          <p class="mt-4">
            <a href="allcocktail.html">Read More</a>
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="gin text-center">
          <img src="{{ 'ginsling.png' | asset_url  }}" class="img-fluid">
          <h3>GIN SLING</h3>
          <p class="mt-4">
            <a href="allcocktail.html">Read More</a>
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a href="allproduct.html" class="btn buynow1">VIEW ALL RECIPES</a>
    </div>
  </div>
</section>

<section class="followus">
  <div class="d-block d-sm-none">
    <div class="d-flex justify-content-center followusmobile">
      <div class="instapost">
        <img src="{{ 'insta1.png' | asset_url  }}" class="gal1">
      </div>
      <div class="instapost gallerygrid">
        <img src="{{ 'insta2.png' | asset_url  }}" class="gal2">
        <img src="{{ 'insta3.png' | asset_url  }}" class="gal3">
      </div>
    </div>
  </div>

  <div class="container d-none d-sm-block">
    <!-- <h1>Follow<span class="d-block">Us</span></h1> -->
    <div class="row no-gutters">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="instapost">
          <img src="{{ 'insta1.png' | asset_url  }}" class="gal1">
        </div>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="instapost gallerygrid">
          <img src="{{ 'insta2.png' | asset_url  }}" class="gal2">
          <img src="{{ 'insta3.png' | asset_url  }}" class="gal3">
          <img src="{{ 'insta3.png' | asset_url  }}" class="gal3">
          <img src="{{ 'insta5.png' | asset_url  }}" class="gal2">
        </div>

      </div>
      <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="instapost">
          <img src="{{ 'insta6.png' | asset_url  }}" class="gal1 galmob">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
{% for product in collections.frontpage.products limit:4 %}
<div>
<a href="{{ product.url | within: collection }}">{{ product.title }}</a>
{{ product.price | money }}
{% unless product.available %}<br><strong>sold out</strong>{% endunless %}
<a href="{{ product.url | within: collection }}">
<img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
</a>
</div>
{% endfor %} -->